@import "../../scss/variables.scss";
@import "../../scss/layout.scss";
@import "../../scss/global.scss";
.scroll {
  overflow-y: scroll;
  max-height: 48vh;
}
.personas-main {
  margin: $margin;
  padding: 2rem;
}
.galleryButtons {
  background-color: rgba(41, 39, 39, 0.356);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  padding: 3rem;
  padding-top: 0rem;
  z-index: 3;

  .gallery-btn {
    appearance: none;
    @include hexagonButton;
    position: relative;

    z-index: 3;
  }
  input[type="radio"]:checked {
    background-color: rgb(90, 90, 182);

    &::before {
      border-bottom: 7.5px solid rgb(90, 90, 182);
    }

    &::after {
      border-top: 7.5px solid rgb(90, 90, 182);
    }
  }
}

@media screen and (min-width: $breakpointDesktop) {
  .personas-main {
    position: relative;
    height: 100%;
    margin: $margin-small;

  }
}

.galleryButtons {
  background-color: rgba(41, 39, 39, 0);
}
