@import '../../scss/variables.scss';
@import '../../scss/layout.scss';
@import '../../scss/global.scss';

.scroll {
  overflow-y: scroll;
  max-height: 48vh;
}

.personas-main {
  margin: $margin;
}

.galleryButtons {
  background-color: rgba(41, 39, 39, 0.356);
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  // position: fixed;
  bottom: 0;
  margin: 0;
  padding: calc($padding * 3);
  padding-top: 0rem;
  z-index: 3;

  .gallery-btn {
    @include mobile-navButton;
    appearance: none;
    position: relative;
    z-index: 3;
  }

  input[type='radio']:checked {
    background-color: $lightBlue;
  }
}

@media screen and (min-width: $breakpointDesktop) {
  .personas-main {
    position: relative;
    height: 100%;
    margin: $margin-small;
  }
}

.galleryButtons {
  background-color: rgba(41, 39, 39, 0);
}
