@import "../../scss/variables.scss";
@import "../../scss/layout.scss";
@import "../../scss/global.scss";

.personas-main {
  overflow-y: scroll;
  max-height: 60vh;
  margin: $margin-sml;
  .personas-card {
    .personas-card-header {
      .personas-card-text-container {
        .personas-card-ingress {
        }
        .card-text-container {
        }
      }
    }
  }
}
.galleryButtons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  bottom: auto;
  padding: 1rem;
  z-index: 3;

  .gallery-btn {
    appearance: none;
    @include hexagonButton;
    position: relative;
    z-index: 3;
  }
  input[type="radio"]:checked {
    background-color: rgb(90, 90, 182);

    &::before {
      border-bottom: 7.5px solid rgb(90, 90, 182);
    }

    &::after {
      border-top: 7.5px solid rgb(90, 90, 182);
    }
  }
}
