@import '../../scss/variables.scss';
@import '../../scss/layout.scss';


.canvasWrapper {
    display: none;
    visibility: hidden;
}

@media screen and (min-width: $breakpointDesktop) {
    .canvasWrapper {
        position: fixed;
        top: 0;
        z-index: 1 !important;
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: block;
        visibility: visible;

        // cursor: crosshair;
        // background: $gradient;
        canvas {
            z-index: 1 !important;
        }
    }
}