@import "../../scss/variables.scss";
@import "../../scss/layout.scss";
@import "../../scss/global.scss";
.persona-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 60vh;
  .persona-card-content {
    margin-top: 0rem;
    margin-left: 1rem;
    margin-right: 1rem;
    min-height: 62vh;
    .personas-main {
      .personas-card {
        .personas-card-header {
          .personas-card-title {
            margin: 0;
          }
        }
        .personas-card-text-container {
          .personas-card-ingress {
            hyphens: auto;
            font-weight: 600;
            margin-bottom: 2rem;
          }
          .question-title {
            font-weight: 600;
            font-size: calc($baseline * 1.5);
          }
          .card-text-container {
            span {
              font-weight: 600;
            }
            .personas-card-text {
              margin-bottom: 1rem;
            }
            &:nth-last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
  .persona-content {
    max-width: 100%;
    height: 100%;
    padding: 0 $padding 0 $padding;
    @include flex($align: none, $direction: column);
    gap: 1rem; // TODO: Is this unused?
    .persona-header {
      .persona-title {
        margin: 0;
      }
    }
    .persona-text-container {
      height: 100%;
      @include flex($direction: column);
      gap: $margin;
      justify-content: space-between;
      .persona-ingress {
        hyphens: auto;
      }
    }
    .personas-button-container {
      @include flex($justify: center, $align: center);
      width: 100%;
      height: 100%;
      .personasButton {
        @include formButton;
        padding: $padding $padding;
        position: absolute;
        bottom: 0;

        margin-bottom: 6rem;

        transition: 0.5s;
        &:hover {
          transform: scale(1.1);
          border-color: rgb(90, 90, 182);
        }
      }
    }
  }
  .galleryButtons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    padding: 2rem 2rem 1.2rem 2rem;
    margin-bottom: 0rem;

    z-index: 3;
  }
}

@media screen and (min-width: $breakpointDesktop) {
  .persona-card-content {
    min-height: auto;
    flex: 1;
    .persona-cards {
      width: 100%;
      display: flex;
    }
    .persona-content {
      padding: $padding-large;
      @include flex($align: flex-start, $direction: column);

      .persona-text-container {
        @include flex($justify: none, $align: none, $direction: column);
        gap: $margin-large;
      }
      .personas-button-container {
        @include flex($justify: center, $align: center);
        width: 100%;
        height: 100%;
        .personasButton {
          @include formButton;
          padding: $padding $padding;
          margin-bottom: 2rem;
          position: static;
          transition: 0.5s;
          &:hover {
            transform: scale(1.1);
            border-color: rgb(90, 90, 182);
          }
        }
      }
    }
  }
}
