@import "../../scss/variables.scss";
@import "../../scss/layout.scss";
.persona-card-content {
  min-height: 125vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .persona-content {
    max-width: 100%;
    padding: 0 $padding 0 $padding;
    @include flex($align: none, $direction: column);
    gap: 1rem; // TODO: Is this unused?
    .persona-text-container {
      @include flex($align: none, $direction: column);
      gap: $margin;
    }
  }
}

@media screen and (min-width: $breakpointDesktop) {
  .persona-card-content {
    min-height: auto;
    .persona-cards {
      width: 100%;

      display: flex;
    }
    .persona-content {
      max-width: 50%;

      padding: $padding-large;
      @include flex($align: flex-start, $direction: column);

      .persona-text-container {
        @include flex($justify: none, $align: none, $direction: column);
        gap: $margin-large;
      }
    }
  }
}
