@import '../../scss/variables.scss';
@import '../../scss/layout.scss';
@import '../../scss/global.scss';

.persona-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;

  .arrow-wrapper {
    display: none;
  }

  .persona-card-content {
    padding: $margin;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .personas-main {
      .personas-card {
        .personas-card-header {
          .personas-card-title {
            margin: 0;
          }
        }

        .personas-card-text-container {
          .personas-card-ingress {
            hyphens: auto;
            font-weight: 600;
            margin-bottom: $margin-large;
          }

          .question-title {
            font-weight: 600;
            font-size: calc($baseline * 1.5);
          }

          .card-text-container {
            span {
              font-weight: 600;
            }

            .personas-card-text {
              margin-bottom: $margin;
            }

            &:nth-last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

  .persona-content {
    @include flex($align: flex-start, $direction: column);
    max-width: 100%;
    min-height: 35vh;
    padding: 0 $padding 0 $padding;
    gap: 1rem; // TODO: Is this unused?

    .persona-header {
      .persona-title {
        @include ibmMedium;
        margin: 0;
      }
    }

    .persona-text-container {
      @include flex($direction: column, $justify: space-between);
      @include robotoNormal;
      gap: $margin;
      z-index: 2;

      .persona-ingress {
        hyphens: auto;
      }
    }

    .personas-button-container {
      @include flex($justify: center, $align: center);
      width: 100%;
      height: 100%;
      margin-top: auto;
      flex: 0;
      .personasButton {
        @include formButton;
        padding: $padding $padding;
        transition: 0.25s;

        &:hover {
          transform: scale(1.1);
          border-color: $purple;
        }
      }
    }
  }

  .galleryButtons {
    width: 100%;
    display: flex;
    padding: $margin-large $margin-large 1.2rem $margin-large;
    margin-bottom: 0rem;
    z-index: 3;
  }
}

@media screen and (min-width: $breakpointDesktop) {
  .persona-card-content {
    min-height: auto;
    flex: 1;
    z-index: 1;

    .persona-cards {
      width: 100%;
      display: flex;
    }

    .persona-content {
      @include flex($align: flex-start, $direction: column);
      padding: $padding-large;

      .persona-text-container {
        @include flex($justify: none, $align: none, $direction: column);
        gap: $margin-large;
      }

      .personas-button-container {
        @include flex($justify: center, $align: center, $direction: column);
        width: 100%;
        height: 100%;
        .arrow-wrapper {
          z-index: 5;
          width: 50%;
          padding-bottom: 1rem;

          display: flex;
          justify-content: space-between;

          

        }
        .personasButton {
          @include formButton;
          padding: $padding $padding;
          margin-bottom: $margin-large;
          position: static;
          transition: 0.25s;

          &:hover {
            transform: scale(1.1);
            border-color: $purple;
          }
        }
      }
    }
  }
}
