@import "../../scss/variables";
@import "../../scss/layout";
@import "../../scss/motion";
@import "../../scss/global";

.educationView {
    @include maxSize;
    @include flex($justify: none, $align: none, $direction: column);
    @include lines;
    overflow-x: hidden;
    background-color: $dark;

    &* {
        position: relative;
    }

    main {
        padding: $padding-large;

        .applyButton {
            @include formButton;
            padding: $padding $padding-large*2;
            margin: $margin-large 0;

            &:last-of-type {
                margin-top: $margin-large;
            }
        }

        .line {
            margin: auto -1.5rem;
            border-bottom: .1rem solid $borderColor;
        }
    }
}

@media screen and (min-width: $breakpointDesktop) {
   
    .educationsView {
        main {
            max-width: 50rem;
            margin: calc($margin * 15) auto 0;
           p{
            margin: calc($baseline/1.2) 0 ; 
           }
        }
        
    }
}