@import "../../scss/variables.scss";
@import "../../scss/layout.scss";
@import "../../scss/global.scss";


.homeButton {
    @include formButton
}

@media (min-width: $breakpointDesktop) {

    .homeButton {
        transition: .5s;
        &:hover {
            transform: scale(1.1);
            border-color: $lightBlue;
        }
    }
}

