@import "../../scss/variables.scss";
@import "../../scss/layout.scss";
@import "../../scss/global.scss";

.homeButton {
  @include formButton;
  padding: $padding calc($padding * 7);
  font-size: 1.2rem;
}

@media (min-width: $breakpointDesktop) {
  .homeButton {
    transition: 0.5s;
    max-width: 100%;
    margin-top: $margin;
    font-size: 1.6rem;

    &:hover {
      transform: scale(1.1);
      border-color: rgb(90, 90, 182);
    }
  }
}