@import '../../scss/variables.scss';
@import '../../scss/layout.scss';

.burger-icon {
  z-index: 4;
  position: fixed;
  left: 1.5rem;
  top: 1.5rem;
  .nav-icon {
    width: 60px;
    height: 45px;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }
  .nav-icon span {
    display: block;
    position: absolute;
    height: 0.5rem;
    width: 80%;
    background: #04ced599;
    opacity: 1;

    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  .nav-icon span:nth-child(1) {
    top: 0;
  }

  .nav-icon span:nth-child(2),
  .nav-icon span:nth-child(3) {
    top: 18px;
  }

  .nav-icon span:nth-child(4) {
    top: 36px;
  }

  .nav-icon.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  .nav-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .nav-icon.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
}

@media screen and (min-width: $breakpointDesktop) {
  .burger-icon {
    display: none;
  }
}
