@import "../../scss/variables";
@import "../../scss/layout";
@import "../../scss/motion";
@import "../../scss/global";

.educationsView {
    @include flex($justify: none, $align: none, $direction: column);
    overflow-x: hidden;
    background-color: $dark;

    &* {
        position: relative;
    }

    main {
        padding: $padding-large;

        .educations-view-title {
            @include ibmLargeBold;
            margin-bottom: $margin;
        }

        .educations-view-text {
            @include robotoNormal;
            margin-bottom: $margin;
        }

        .coursesWrapper {
            margin-top: $margin-large;
            position: relative;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(6, 1fr);

            .course {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin: $margin-small 0;
                padding: $padding;
                border: 1px solid $borderColor;
                border-radius: $borderRadius;
                background-color: $dark;
                cursor: pointer;
                background: linear-gradient(-45deg, $dark, $dark, $lightBlue, $dark, $dark);
                background-size: 300% 200%;
                background-position-y: 50%;

                .course-title {
                    @include ibmMediumSemiBold;
                }

                .course-info {
                    display: flex;
                    justify-content: space-between;
                    margin-top: $margin-small;

                    .course-location-text {
                        @include robotoNormal;
                    }
    
                    .right {
                        @include robotoNormal;
                        text-align: right;
                        font-style: italic;
                    }
                }


                &:hover,
                &:active {
                    box-shadow: 0 0 1rem 0 $lightBlue;
                }
            }
        }
    }
}

@media screen and (min-width: $breakpointDesktop) {
    .educationsView {
        border-radius: $borderRadius;
        margin: $margin-large 0;
        main {
            .coursesWrapper {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(3, 1fr);
                gap: 8px 16px;

                .course {
                    padding: $padding;
                }

            }
        }
    }
}