@import "../../scss/variables";
@import "../../scss/layout";
@import "../../scss/motion";
@import "../../scss/global";

.educationsView {
    @include maxSize;
    @include flex($justify: none, $align: none, $direction: column);
    @include lines;
    overflow-x: hidden;

    &* {
        position: relative;
    }

    background-color: $dark;

    main {
        padding: $padding-large;
        // z-index: 2;

        .coursesWrapper {
            margin: 0;
            position: relative;

            .course {
                margin: $margin-small 0;
                padding: $padding-small;
                border: 1px solid $borderColor;
                background-color: $dark;
                cursor: pointer;
                background: linear-gradient(-45deg, $dark, $dark, $lightBlue, $dark, $dark);
                background-size: 300% 200%;
                background-position-y: 50%;

                .right {
                    text-align: right;
                    font-style: italic;
                }


                &:hover,
                &:active {
                    box-shadow: 0 0 1rem 0 $lightBlue;
                }
            }
        }
    }
}


@media screen and (min-width: $breakpointDesktop) {
    .educationsView {
        main {
            max-width: 50rem;
            margin: $margin*8 auto 0;

            .coursesWrapper {
                margin: 0 calc($margin * -3);
                padding: $padding;

                .course {
                    margin: $margin;
                    padding: $padding;
                }
            }
        }
    }

}