@import '../../scss/variables.scss';
@import '../../scss/layout.scss';

.radio_quiz {

    @include flex($justify: flex-start);
    background-color: rgb(255, 255, 255, .03);
    margin-top: .5rem;
    margin-left: 12.5%;
    width: 75%;
    border-radius: $borderRadius;
    cursor: pointer;

    img {
        width: 2.5rem;
    }

    p {
        width: calc(100% - 80px);
        text-align: center;
    }

    &:hover {
        background-color: rgb(255, 255, 255, .16);
    }
}

.radio_filled {

    @include flex($justify: flex-start);
    background-color: rgb(255, 255, 255, .16);
    margin-top: .5rem;
    margin-left: 12.5%;
    width: 75%;
    border-radius: $borderRadius;
    cursor: pointer;

    img {
        width: 2.5rem;
    }

    p {
        width: calc(100% - 80px);
        text-align: center;
    }
}