@import '../../scss/variables.scss';
@import '../../scss/layout.scss';

.radio_quiz {

    @include flex($justify: flex-start);
    background-color: rgb(255, 255, 255, .03);
    width: 75%;
    border-radius: $borderRadius;
    cursor: pointer;

    img {
        width: calc($baseline*2.5);
    }

    p {
        width: calc(100% - ($baseline*5));
        text-align: center;
    }

    &:hover {
        background-color: rgb(255, 255, 255, .16);
    }
}

.radio_filled {

    @include flex($justify: flex-start);
    background-color: rgb(255, 255, 255, .16);
    width: 75%;
    border-radius: $borderRadius;
    cursor: pointer;

    img {
        width: calc($baseline*2.5);
    }

    p {
        width: calc(100% - ($baseline*5));
        text-align: center;
    }
}