@import '../../scss/variables.scss';
@import '../../scss/layout.scss';

.range_component {
    @include flex($justify: flex-start, $direction: column);
    @include radioMargin;
    width: 75%;
    gap: 2rem;

    .range {
        -webkit-appearance: none;
        appearance: none;
        width: 80%;
        height: 2px;
        background: $light;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 34px;
            height: 34px;
            background-image: url(../../assets/icons/hexagonRange.svg);
            background-repeat: no-repeat;
            cursor: pointer;
        }
    }
}