@import "../../scss/variables.scss";
@import "../../scss/layout.scss";

.header {
  background-color: rgba(255, 255, 255, 0);
 z-index: 5;
  nav {
    ul {
      display: none;
    }
  }

  .overlay {
    background-color: $dark;
    height: 100vh;
    width: 95vw;
    @include flex($direction: column);
    position: fixed;

    // TODO: Shadow
    -webkit-box-shadow: .5rem .5rem 1rem 2rem #0000009f;
    box-shadow: .5rem .5rem 1rem 2rem #0000009f;
    z-index: 4;

    transform: translateX(-1000px);
    ul {
      list-style: none;
      @include flex($direction: column);
      li {
        margin: $margin-large;
        a { // TODO: Create a class for nav links/text?
          font-size: $baseline*1.5;
          font-weight: 500;
          text-decoration: none;
          transition: all 0.1s ease-in-out;
          &:active {
            color: $darkBlue;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $breakpointDesktop) {
  .header {
    position: fixed;
    transition: 0.4s;
    width: 100%;
    height: 10vh;

    .overlay {
      display: none;
    }
    nav {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      text-align: center;

      ul {
        width: 100%;
        height: 10vh;
        @include flex($justify: space-evenly);
        list-style: none;

        li {
          a { // TODO: Create a class for nav links/text?
            display: block;
            width: 100%;
            font-size: $baseline*1.5;
            font-weight: 500;
            text-decoration: none;
            transition: all 0.1s ease-in-out;
            &:hover {
              transform: scale(1.2);
            }
          }
        }
      }
    }
  }
  .background {
    background-color: $dark;
    z-index: 5;
  }
}
