.header {
  background-color: rgba(255, 255, 255, 0);
  .overlay {
    background-color: #1d2025;
    height: 100vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
    z-index: 1;
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      li {
        margin: 1rem;
        a {
          color: #fff;
          font-size: 1.5rem;
          font-weight: 500;
          text-decoration: none;
          transition: all 0.3s ease-in-out;
          &:active {
            color: #17559c;
          }
        }
      }
    }
  }
}
