@import "../../scss/variables.scss";
@import "../../scss/layout.scss";

.header {
  background-color: rgba(0, 47, 10, 0.104);
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);
  z-index: 4;
  height: 10vh;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 47, 10, 0);
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);
  top: 0;
  border-bottom: 1px solid $lightTransparent;

  nav {
    ul {
      display: none;
    }
  }

  .overlay {
    @include flex($direction: column);
    background-color: $dark;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 5;
    transform: translateX(-1000px);

    ul {
      @include flex($direction: column);

      li {
        list-style: none;
        margin: $margin-large 0;

        a {
          font-size: $baseline * 2;
          font-weight: 500;
          text-decoration: none;
          transition: all 0.1s ease-in-out;

          &:active {
            color: $darkBlue;
          }
        }
      }
    }
  }
}

.mobile-header {
  height: 10vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
}

.hamburger {
  right: 0;
  margin-right: $margin-large;

  &::before {
    border-bottom: 7.5px solid $darkBlue;
  }

  &::after {
    border-top: 7.5px solid $darkBlue;
  }
}

@media screen and (min-width: calc($breakpointDesktop*1.2)) {
  .header {
    position: fixed;
    transition: 0.4s;
    width: 100%;
    height: 6.5vh;
    min-height: calc($baseline * 4);

    .overlay {
      display: none;
    }

    nav {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      text-align: center;

      ul {
        @include flex($justify: space-evenly);
        width: 100%;
        height: 6.5vh;
        min-height: calc($baseline * 4);

        li {
          list-style: none;

          a {
            display: block;
            width: 100%;
            font-size: calc($baseline * 1.5);
            font-weight: 500;
            text-decoration: none;
            transition: all 0.1s ease-in-out;

            &:hover {
              transform: scale(1.2);
            }
          }
        }
      }
    }
  }

  .background {
    z-index: 5;
  }
}
