@import "../../scss/layout.scss";
@import "../../scss/variables.scss";

.results_wrapper {

    @include flex($direction: column);
    width: 100%;

    h2 {
        padding: 0 10%;
    }

    .results_section {
        height: 100%;
        width: 95%;
        text-align: center;
        @include flex($direction: column);
        //margin-top: calc($margin-large * 2);

        h2 {
            margin: 4rem 0;
        }

        button {
            width: 9rem;
            height: 2.5rem;
            margin: 1rem;
            font-size: $baseline;
            box-shadow: none;
            padding: $padding;
        }

        .results_list {
            @include flex($direction: column);
            width: 100%;
            list-style: none;
            margin: $margin;

            .results_item {
                @include flex($justify: center, $align: center, $wrap: wrap);
                margin: $margin-sml;
                height: 3.5rem;
                width: 100%;
                margin-bottom: 4rem;

                span {
                    padding: $padding;
                }
                
                span:nth-child(1) {
                    @include flex($justify: center, $align: center);
                    width: 3.5rem;
                    border: 2px solid grey;
                    border-right: none;
                }

                span:nth-child(2) {
                    @include flex($justify: center, $align: center);
                    padding-left: $padding;
                    width: 12rem;
                    border: 2px solid grey;
                }

                span:nth-child(3) {
                    @include flex($justify: center, $align: center);
                    height: 100%;
                    width: 15.5rem;
                    border: 2px solid grey;
                    border-top: none;
                }
            }
        }
    }
    /*
    .results_points {
        text-align: center;
        @include flex($direction: column, $justify: space-evenly);

        p {
            margin-top: calc($margin * 1.5);
        }

        li {
            @include flex($direction: column, $justify: space-evenly);

            span {
                margin-top: calc($margin * 1.5);
                color: $light;

                .form_link {
                    text-decoration: none;
                    margin-left: $margin-sml;

                    &:hover {
                        color: $lightBlue;
                    }
                }
            }
        }
    }
    */
}

@media screen and (min-width: 580px) {
    .results_wrapper {
        @include flex();
        z-index: 3;
        width: 100%;
        min-height: 100%;

        .results_section {
            text-align: center;
            @include flex($direction: column);
            width: 80%;
            max-height: calc($baseline*38);
            min-height: calc($baseline*30);
            //margin: auto;
            //margin: calc($margin * 2) calc($margin * 1.5);

            h2 {
                margin: $margin;
            }

            button {
                width: 10rem;
                margin: 1rem;
                // height: 2.5rem;
                // font-size: 1rem;
            }

            .results_list {
                width: 100%;
                list-style: none;
                margin: $margin;
    
                .results_item {
                    @include flex($justify: center, $align: center);
                    margin: $margin-sml;
                    height: 3.5rem;
                    width: 100%;
    
                    span {
                        height: 100%;
                    }
                    
                    span:nth-child(1) {
                        width: 6rem;
                        border-right: none;
                    }
    
                    span:nth-child(2) {
                        @include flex($justify: center, $align: center);
                        width: 16rem;
                    }
    
                    span:nth-child(3) {
                        width: 10rem;
                        border-top: 2px solid grey;
                        border-left: none;
                    }
                }
            }
        }
        /*
        .results_points {
            text-align: center;
            @include flex($direction: column, $justify: space-evenly);
            width: 50%;

            li {
                @include flex($direction: column, $justify: space-evenly);

                span {
                    margin-top: $margin;
                }
            }
        }
        */
    }
}

