@import "../../scss/layout.scss";
@import "../../scss/variables.scss";
@import "../../scss/global.scss";

.results_wrapper {
  @include flex($direction: column);
  width: 100%;

  h2 {
    padding: 0 5%;
  }

  .results_section {
    width: 95%;
    text-align: center;
    @include flex($direction: column);

    h2 {
      margin: calc($margin * 5) 0 $margin 0;
    }

    .results_list {
      @include flex($direction: column);
      width: 15rem;
      list-style: none;
      margin: $margin-small 0;

      .results_item {
        @include flex($justify: center, $align: center, $wrap: wrap);
        width: 100%;
        margin-bottom: 0;

        span,
        .apply-link,
        .read-more-button {
          font-size: 0.875rem;
          font-family: "Roboto Mono";
        }

        span,
        .rank {
          max-height: 3.5rem;
        }


        .rank {
          @include flex($justify: center, $align: center);
          @include stripes;
          width: 100%;
          border: 1px solid $primaryTextColor;
          border-bottom: none;
          margin: 0;
          padding: 0;
        }

                span:nth-child(2) {
                    @include flex($direction: column, $justify: center, $align: center);
                    padding-top: $padding-small;
                    width: 100%;
                    height: 3.5rem;
                    border: 1px solid $primaryTextColor;

                    span {
                        position: relative;
                        color: rgb(221, 221, 221, 50%);
                        font-size: 0.75rem;

                        .notToggled {
                            position: absolute;
                            height: .8rem;
                            top: .1rem;
                            right: -5rem;
                            border-bottom: 13px solid rgb(79, 77, 77);
                            border-left: 13px solid transparent;
                            border-right: 13px solid transparent;
                        }

                        .toggled {
                            position: absolute;
                            height: .8rem;
                            top: .3rem;
                            right: -5rem;
                            border-top: 13px solid $purple;
                            border-left: 13px solid transparent;
                            border-right: 13px solid transparent;
                        }
                    }
                }


        span:nth-child(2) {
          @include flex($direction: column, $justify: center, $align: center);
          padding-top: $padding-small;
          width: 100%;
          height: 3.5rem;
          border: 1px solid $primaryTextColor;

          span {
            position: relative;
            color: rgb(221, 221, 221, 50%);
            font-size: 0.75rem;

            .notToggled {
              position: absolute;
              height: 0.8rem;
              top: 0.1rem;
              right: -5rem;
              border-bottom: 13px solid rgb(79, 77, 77);
              border-left: 13px solid transparent;
              border-right: 13px solid transparent;
            }

            .toggled {
              position: absolute;
              height: 0.8rem;
              top: 0.3rem;
              right: -5rem;
              border-top: 13px solid rgb(90, 90, 182);
              border-left: 13px solid transparent;
              border-right: 13px solid transparent;
            }
          }
        }

        .read-more-button:nth-child(3) {
          @include flex($justify: center, $align: center);
          width: 100%;
          height: 2.5rem;
          padding: $padding;
          border: 1px solid $primaryTextColor;
          color: $primaryTextColor;
          background: transparent;
          border-top: none;
        }
      }


      .toggleText {
        @include flex($direction: column);
        width: 100%;
        border: 1px solid $primaryTextColor;
        border-top: none;

        p {
          font-size: 0.875rem;
          line-height: 140%;
          padding-left: $padding-small;
          padding-right: 1px;
          text-align: start;

                .apply-link {
                    align-self: flex-end;
                    margin: $margin;
                    color: $primaryTextColor;
                    border-bottom: 2px solid $purple;
                }
            }

        }

        .toggleTextTitle {
          padding-left: $padding-small;
          font-weight: 600;
          padding-bottom: 0;
          align-self: flex-start;
        }

        .apply-link {
          align-self: flex-end;
          margin: $margin;
          color: $primaryTextColor;
          border-bottom: 2px solid rgb(90, 90, 182);

            button {
                @include formButton;
                align-self: center;
                margin: $margin-large;
                height: 2.5rem;
                font-size: $baseline;
                box-shadow: none;
                padding: $padding;
                width: 12rem;

                &:focus {
                    transform: scale(1.1);
                    border-color: $purple;
                }
            }

        }
      }
    }

    .results-button-container {
      @include flex();
      margin-bottom: 1.5rem;
      height: 8rem;

      .homeButton {
        width: 13rem;
        margin: 0;
        padding: $padding-small;
      }
    }
  }
}

@media screen and (min-width: 350px) {
  .results_wrapper .results_section .results_list {
    width: 18rem;
  }
}

@media screen and (min-width: 400px) {
  .results_wrapper .results_section .results_list {
    width: 20rem;
  }
}

@media screen and (min-width: 460px) {
  .results_wrapper .results_section .results_list {
    width: 25rem;
  }
}

@media screen and (min-width: 580px) {
  .results_wrapper {
    @include flex();
    z-index: 3;
    width: 100%;

    .results_section {
      text-align: center;
      display: flex;
      flex-direction: column;
      margin: auto;
      width: 80%;

      .results_list {
        margin: $margin-small;

        .results_item {
          @include flex($justify: center, $align: center, $wrap: wrap);
          margin: $margin-small $margin-small 0 $margin-small;
          width: 33.5rem;
          min-width: 33.5rem;

          .rank {
            width: 3.5rem;
            height: 3.5rem;
            border: 1px solid $primaryTextColor;
            border-right: none;
            margin: 0;
            padding: 0;
          }

          span:nth-child(2) {
            @include flex($direction: column, $align: flex-start);
            padding-top: 0;
            padding-left: $padding-small;
            width: 15.5rem;

            &:hover {
              cursor: pointer;
            }


            .study_at {
              width: 100%;
              text-align: start;
              font-size: 0.75rem;

              .notToggled {
                position: absolute;
                height: 0.8rem;
                top: 0.2rem;
                right: 1rem;
                border-bottom: 13px solid rgb(79, 77, 77);
                border-left: 13px solid transparent;
                border-right: 13px solid transparent;
                transition: 100ms;

                &:hover {
                  top: 0.1rem;
                  right: 0.8rem;
                  border-bottom: 16px solid rgb(139, 131, 131);
                  border-left: 16px solid transparent;
                  border-right: 16px solid transparent;
                  cursor: pointer;

        .results_section {
            text-align: center;
            display: flex;
            flex-direction: column;
            margin: auto;
            width: 80%;

            .results_list {
                margin: $margin-small;

                .results_item {
                    @include flex($justify: center, $align: center, $wrap: wrap);
                    margin: $margin-small $margin-small 0 $margin-small;
                    width: 33.5rem;
                    min-width: 33.5rem;

                    .rank {
                        width: 3.5rem;
                        height: 3.5rem;
                        border: 1px solid $primaryTextColor;
                        border-right: none;
                        margin: 0;
                        padding: 0;
                    }

                    span:nth-child(2) {
                        @include flex($direction: column, $align: flex-start);
                        padding-top: 0;
                        padding-left: $padding-small;
                        width: 15.5rem;

                        &:hover {
                            cursor: pointer;
                        }

                        .study_at {
                            width: 100%;
                            text-align: start;
                            font-size: 0.75rem;

                            .notToggled {
                                position: absolute;
                                height: .8rem;
                                top: .2rem;
                                right: 1rem;
                                border-bottom: 13px solid rgb(79, 77, 77);
                                border-left: 13px solid transparent;
                                border-right: 13px solid transparent;
                                transition: 100ms;

                                &:hover {
                                    top: .1rem;
                                    right: .8rem;
                                    border-bottom: 16px solid rgb(139, 131, 131);
                                    border-left: 16px solid transparent;
                                    border-right: 16px solid transparent;
                                    cursor: pointer;
                                }
                            }

                            .toggled {
                                position: absolute;
                                height: .8rem;
                                top: .4rem;
                                right: 1rem;
                                border-top: 13px solid $purple;
                                border-left: 13px solid transparent;
                                border-right: 13px solid transparent;
                                transition: 100ms;

                                &:hover {
                                    top: .3rem;
                                    right: .8rem;
                                    border-top: 16px solid $purple;
                                    border-left: 16px solid transparent;
                                    border-right: 16px solid transparent;
                                    cursor: pointer;
                                }
                            }
                        }
                    }

                    .read-more-button:nth-child(3) {
                        height: 3.5rem;
                        width: 7rem;
                        border-top: 1px solid $primaryTextColor;
                        border-left: none;

                        &:hover {
                            cursor: pointer;
                            color: $purple;
                            font-size: 1rem;
                        }
                    }

                    .read-more-button {
                        transition: 200ms ease-in-out 50ms;
                    }

                }
              }

              .toggled {
                position: absolute;
                height: 0.8rem;
                top: 0.4rem;
                right: 1rem;
                border-top: 13px solid rgb(90, 90, 182);
                border-left: 13px solid transparent;
                border-right: 13px solid transparent;
                transition: 100ms;

                &:hover {
                  top: 0.3rem;
                  right: 0.8rem;
                  border-top: 16px solid rgb(90, 90, 182);
                  border-left: 16px solid transparent;
                  border-right: 16px solid transparent;
                  cursor: pointer;
                }
              }
            }

          }

          .read-more-button:nth-child(3) {
            height: 3.5rem;
            width: 7rem;
            border-top: 1px solid $primaryTextColor;
            border-left: none;

            &:hover {
              cursor: pointer;
              color: rgb(90, 90, 182);
              font-size: 1rem;


            .results-button-container {
                margin-top: $margin;


            }
          }

          .read-more-button {
            transition: 200ms ease-in-out 50ms;
          }
        }

        .toggleText {
          width: 26rem;

          p {
            font-size: 1rem;
            padding: $padding $padding-small;
          }

          .apply-link {
            cursor: pointer;
          }
        }
      }

      .results-button-container {
        margin-top: $margin;

        .homeButton {
          width: 14rem;
          margin: 0;
          z-index: 2;
        }
      }
    }
  }
}

@media screen and (min-width: $breakpointDesktop) {
  .form_wrapper {
    &::before,
    &::after {
      display: none;
    }
  }

  .results_wrapper {
    max-height: 100%;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: $scrollTrack;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $scrollThumb;
      border-radius: 10px;
      transition-duration: 200ms;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: $scrollHover;
    }

    .results_section {
      h2 {
        margin: $margin;
      }

      .results_list {
        .results_item {
          width: 41.5rem;
          min-width: 41.5rem;

          span,
          .apply-link,
          .read-more-button {
            font-size: $baseline;
          }

          span:nth-child(2) {
            width: 30rem;
          }

          .read-more-button:nth-child(3) {
            width: 8rem;

            &:hover {
              font-size: 1.2rem;
            }
          }
        }

        .toggleText {
          width: 41.5rem;
          border: 1px solid $primaryTextColor;
          border-top: none;
        }
      }

      .results-button-container {
        margin: 0;

        .homeButton {
          width: 15rem;
          font-size: 1.2rem;
          margin: 0;
        }
      }
    }
  }
}
