@import "../../scss/layout.scss";

.results_wrapper {
    
    @include flex($direction: column);

    h2 {
        padding: 0 10%;
    }

    .results_section {

        text-align: center;
        @include flex($direction: column);
        margin-top: 3.8rem;

    }

    .results_points {
        text-align: center;
        @include flex($direction: column, $justify: space-evenly);

        p {
            margin-top: .5rem;
        }

        li {

            @include flex($direction: column, $justify: space-evenly);

            a {
                text-decoration: none;
            }

            span {
                margin-top: 1rem;
            }

        }
    }

}


@media screen and (min-width: 820px) {
    .results_wrapper {
        z-index: 3;
        min-height: 25rem;
        @include flex();
    
        .results_section {
            width: 50%;
    
            .results_text {
                text-align: center;
                @include flex($direction: column, $justify: space-evenly, $align: center);
    
                h2 {
                    margin-bottom: 1rem;
                }
    
            }
        }
    
        .results_points {
            text-align: center;
            @include flex($direction: column, $justify: space-evenly);
            width: 50%;
    
            p {
                margin-top: .5rem;
            }
    
            li {
    
                @include flex($direction: column, $justify: space-evenly);
    
                span {
                    margin-top: 1rem;
                }
    
            }
        }
    
    }
}
