@import "../../scss/variables";
@import "../../scss/layout";
@import "../../scss/motion";

.aboutView {
    @include maxSize;
    @include flex($justify: none, $align: none, $direction: column);
    @include lines;

    padding: 6rem 1.5rem;
    background-color: $dark;

    h1 {
        padding: 2rem 1% 1rem;
    } 
    h2, h3 { 
        padding: 1rem .5rem .5rem;
    }
    p { 
        padding: .5rem;
        position: relative;
    }

    .line {
        margin: auto -1.5rem;
        border-bottom: .1rem solid $borderColor;
    }

    .coursesWrapper {
        @include flex($display: flex, $justify: none, $align: none, $wrap: wrap);
        padding: 1rem 0rem;

        h2 { width: 100%; }
        .course {
            flex-grow: 1;
            min-width: 18rem;

            margin: 8px 4px;
            border: 0.1rem solid $borderColor;
            background-color: $dark;
            
            transition: .5s;
            &:hover {
                box-shadow: 0 0 1rem 0 $lightBlue;
                transform: scale(0.95, 1.01);
            }
            &:active {
                // box-shadow: inset 0 0 1rem 0 $lightBlue;
                background: linear-gradient(-45deg, $dark, $dark, $lightBlue, $dark, $dark);
                background-size: 400% 400%;
                animation: gradient 15s ease infinite;
            }
        }
    }


    .contactForm {
        @include flex($justify: normal, $align: center, $direction: column);
        order: 10;
        width: 100%;
        min-width: 10rem;
        margin: 0 auto;
        border: none;
        padding: 1rem;
        gap: 1rem;
        background-color: $gradient;

        .formText {
            width: 100%;
            padding: .5rem 1rem;
            border-radius: .1rem;
            border: .1rem solid $light;
            color: $dark;
            font-size: 1rem;
        }
    }
}


@media screen and (min-width: $breakpointDesktop) {
    .aboutView {
        display: block;
        
        h1, h2, h3, p { 
            padding: 1rem 2rem;
        }
        .coursesWrapper {
            padding: 1rem 2rem;
            .course:hover {
                    box-shadow: 0 0 1rem 0 $lightBlue;
                    transform: scale(1.01);
                }
        }
        .contactForm {
            float: right;
            margin-right: 2px;
            margin-left: .5rem;
            width: 40%;
            min-width: 21rem;
            max-width: 31rem;
            border-left: 0.1rem solid $borderColor;
            border-bottom: 0.1rem solid $borderColor;
        }
        .formButton {
            margin: 0 auto;
        }
    }
} 