@import "../../scss/variables";
@import "../../scss/layout";

.aboutView {
    @include lines;
    @include maxSize;

    padding: 6rem 1.5rem;
    background-color: $dark;

    h1, h2, h3, h4, p { 
        padding: 1rem 2rem;
    }

    .line {
        margin: auto -1.5rem;
        border-bottom: 1px solid $borderColor;
    }

    .coursesWrapper {
        padding: 1rem 2rem;
        
        @include flex($display: flex, $justify: none, $align: none, $wrap: wrap);

        h2 { width: 100%; }
        .course {
            flex-grow: 1;
            min-width: 300px;

            margin: 1%;
            border: 0.1rem solid $borderColor;
            padding: 1rem 3rem;
            background-color: $dark;
            
            transition: .5s;
            &:hover {
                box-shadow: 0 0 1rem 0 $lightBlue;
                transform: scale(1.01);
            }
        }
    }
    
    .contactForm {
        float: right;
        margin-right: 2px;
        width: 40%;
        min-width: 300px;
        max-width: 500px;
        padding: 2rem;
        
        border-left: 0.1rem solid $borderColor;
        border-bottom: 0.1rem solid $borderColor;

        display: flex;
        flex-direction: column;
        gap: 1rem;
        background-color: $gradient;

        .formText {
            padding: .5rem 1rem;
            border-radius: .1rem;
            border: 1px solid $light;
            color: $dark;
            font-size: 1rem;
        }
    }
}

@media screen and (max-width: 820px) {
    .aboutView {
        display: flex;
        flex-direction: column;
        .contactForm {
            order: 10;
            width: 100%;
            margin: 0 auto;
            border: none;
        }
        .formButton {
            margin: 0 auto;
        }
    }
} 