@import '../../scss/layout.scss';
@import '../../scss/variables.scss';
@import '../../scss/global.scss';

.results_wrapper {
  @include flex($direction: column, $align: center);
  width: 100%;
  height: 100%;

  h2 {
    align-self: center;
    padding: 0 1rem;
    margin: 2rem 0;
  }

  .results_points {
    @include flex($direction: column);
    margin-top: $margin-large;
    align-items: flex-start;
    width: 95%;
    height: 100%;
    text-align: start;

    p {
      margin: $margin;
      padding: $padding-small;
      line-height: 150%;
    }

    .onboarding_text {
      @include robotoNormal;
      margin: 0 1rem;

      &__link {
        text-decoration: none;
        color: $lightBlue;
      }
    }

    .button_container {
      @include flex($direction: column, $align: center);
      margin-top: $margin;
      width: 100%;

      .start_button,
      .result_button {
        @include formButton;
        align-self: center;
        margin: $margin-large;
        margin-top: $margin-small * 1.5;
        height: 2.5rem;
        font-size: $baseline;
        box-shadow: none;
        padding: 1.5rem $padding-large;
        width: 12rem;

        &:focus {
          transform: scale(1.05);
          border-color: $purple;
        }
      }
    }
  }
}

@media screen and (min-width: 420px) {
  .results_wrapper {
    .results_points {
      width: 90%;
    }
  }
}

@media screen and (min-width: $breakpointDesktop) {
  .results_wrapper {
    @include flex();
    padding: $padding;
    height: 100%;
    width: 100%;
    z-index: 3;

    h2 {
      margin-top: $margin;
    }

    .results_points {
      @include flex($direction: column, $align: space-evenly);
      margin-top: 0;
      width: 75%;
      height: 100%;

      .button_container {
        @include flex($direction: row, $justify: center);
      }

      p {
        line-height: 120%;
      }

      .start_button {
        transition: 0.5s;

        &:hover {
          transform: scale(1.1);
          border-color: $purple;
        }
      }
    }
  }
}

@media screen and (min-width: 1100px) {
  .results_wrapper {
    .results_points {
      p {
        line-height: 140%;
      }
    }
  }
}

@media screen and (max-height: 730px) and (min-width: $breakpointDesktop) {
  .desktop_wrapper {
    .form_wrapper {
      .card_content {
        height: 80%;
      }
    }
  }
}
