@import "../../scss/layout.scss";
@import "../../scss/variables.scss";
@import "../../scss/global.scss";

.results_wrapper {

    @include flex($direction: column);
    width: 100%;

    h2 {
        padding: 0 10%;
    }

    .results_section {
        text-align: center;
        @include flex($direction: column);
        margin-top: calc($margin-large * 2);

        .start_button {
            @include formButton;
            height: 2.5rem;
            font-size: $baseline;
            box-shadow: none;
            padding: $padding;
            width: 12rem;
        }

        p {
            margin-top: $margin;
        }

        .results_list {
            list-style: none;
            margin: 0;

            .results_item {
                margin: $margin;
                padding: $padding;
                border: 2px solid grey;
            }
        }
    }

    .results_points {
        text-align: center;
        @include flex($direction: column, $justify: space-evenly);

        p {
            margin: $margin;
            padding: $padding-sml;
        }

        li {
            @include flex($direction: column, $justify: space-evenly);

            span {
                margin: $margin;
                color: $light;

                .form_link {
                    text-decoration: none;
                    margin-left: $margin-sml;

                    &:hover {
                        color: $lightBlue;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: $breakpointDesktop) {
    .results_wrapper {
        @include flex();
        padding: $padding;
        z-index: 3;
        min-height: 100%;

        .results_section {
            width: 50%;
            height: 100%;
            margin: $margin;

            .results_text {
                text-align: center;
                @include flex($direction: column, $justify: space-evenly, $align: center);

                h2 {
                    margin-bottom: $margin;
                }
            }

            .start_button {
                width: 12rem;
                transition: .5s;
            }
        }
    }

    .results_points {
        text-align: center;
        @include flex($direction: column, $justify: space-evenly);
        width: 50%;
        height: 100%;

        li {
            @include flex($direction: column, $justify: space-evenly);

            span {
                margin-top: $margin;
            }
        }
    }
}