@import "../../scss/variables";
@import "../../scss/layout";

footer {
    @include flex($justify: space-evenly, $wrap: wrap);
    border-top: 1px solid $borderColor;
    padding: $padding-large;
    background-color: $dark;
    z-index: 3;
    position: relative;

    #folkanImg {
        max-height: $baseline*3.5;
    }

    #zocomImg {
        max-height: $baseline*2;
    }

    img {
        margin: $margin-small;
    }
}