@import "../../scss/variables";
@import "../../scss/layout";

footer {
    @include flex($justify: space-evenly, $wrap: wrap);
    border-top: 1px solid $borderColor;
    padding: $padding-large;
    background-color: $dark;
    z-index: 3;
    position: relative;

    #folkanImg {
        height: 4vh;
        max-height: 10vw;
    }

    #zocomImg {
        height: 4vh;
        max-height: 10vw;
    }

    img {
        margin: $margin-small;
    }
}