@import '../../scss/_variables.scss';


.landingPage {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: $gradient;
    // Flex is messing with the canvas
    // display: flex;
    // align-items: center;
    // justify-content: center;
    .landingTitle {
        position: absolute;
        top: 30%;
        width: 100%;
        text-align: center;
        padding: 0 50px;
    }
}

#canvas {
    // width: 50%;
    // height: 50%;
    border: 1px solid gray;
    // object-fit: scale-down;
}