@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&family=Roboto+Mono:wght@200&display=swap");
$bg-imageWoman: url("../../assets/photos/womanComputer.jpg");
@import url("../../scss/_variables.scss");
@import "../../scss/layout.scss";

.home-wrapper {
  @include maxSize;

  .hero-content {
    @include flex($direction: column);
    padding-top: 4rem;
    min-height: 55vh;
    height: 70vh;
    width: 100%;

    .arrow-container {
      @include flex($display: none, $direction: column);
    }

    .title-h1 {
      color: rgb(246, 246, 246);
      z-index: 3;
      font-size: 2.5rem;
      margin: 8rem 1.5rem 1rem;
      font-weight: 500;
    }
  }

  .home-main {
    background-color: #1d2025;
    padding: 1.5rem;
    @include lines;

    .home-main__content {
      background-color: #1d2025;
      padding: 1rem;

      p {
        margin-top: 1rem;
        position: relative;
      }

      .img-with-text {
        @include flex($justify: none, $align: none, $direction: column);
        width: 90%;
        margin: 1rem;

        img {
          width: 100%;
        }
      }
    }
  }
}

.home-wrapper {
  width: 100%;
  height: 100vh;

  .home-personas-wrapper {
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #9f9f9f;
    background-blend-mode: multiply;
    background-size: cover;
    background-image: linear-gradient(360deg,
        rgba(18, 123, 0, 0.713) 0%,
        rgba(0, 255, 51, 0.397) 100%),
      linear-gradient(136.33deg, #0763aeb6 20%, rgb(6, 84, 33) 96.25%),
      $bg-imageWoman; //Bör flyttas, syns i bakgrunden för views beroende på height.

    .galleryButtons {
      @include flex($justify: space-evenly, $align: center, $direction: row);
      position: absolute;
      width: 100%;
      margin-top: -8rem;
      z-index: 3;

      input[type="radio"] {
        -webkit-appearance: none;
        appearance: none;
        background-color: $lightBlue;
        margin: 0;
        font: inherit;
        color: currentColor;
        width: 1.15em;
        height: 1.15em;
        border: 0.15em solid currentColor;
        border-radius: 50%;
        transform: translateY(-0.075em);
        display: grid;
        place-content: center;
      }

      input[type="radio"]::before {
        content: "";
        width: 0.65em;
        height: 0.65em;
        border-radius: 50%;
        transform: scale(0);
        box-shadow: inset 1em 1em $lightBlue;
      }

      input[type="radio"]:checked::before {
        transform: scale(2);
      }

      .gallery-btn {
        border: 2px solid $lightBlue;
        padding: 5px;
        border-radius: $borderRadius;
        cursor: pointer;

        &:hover {
          background-color: $lightBlue;
        }
      }
    }
  }
}

@media screen and (min-width: $breakpointDesktop) {
  .home-wrapper {
    .home-main {
      background-color: $dark;
      padding: 1rem;
      flex: 1;

      .home-main__content {
        background-color: $dark;
        padding: 1rem;
        @include flex($justify: none, $align: none);

        .text-content {
          @include flex($justify: none, $align: none, $direction: column);
          width: 50%;
          margin: 1rem;

          p {
            margin-top: 1rem;
            width: 100%;
          }
        }

        .img-with-text {
          @include flex($justify: none, $align: none, $direction: column);
          width: 50%;
          margin: 1rem;

          img {
            width: 100%;
          }
        }
      }
    }

    .hero-content {
      @include flex($justify: space-evenly, $direction: column, $wrap: nowrap);
      min-height: 100vh;

      .arrow-container {
        @include flex($justify: none, $align: center, $direction: column);

        .arrowDown {
          animation: float 2s ease-in-out infinite;
        }
      }

      .title-h1 {
        width: 50%;
        height: 7rem;
        font-size: 3.5rem;
        margin-top: 0rem;
        margin-left: 0rem;
        margin-bottom: 3rem;
        font-weight: 500;
      }
    }

    .home-personas-wrapper {
      width: 100%;
      height: 100vh;
      display: flex;
      @include flex($justify: space-evenly, $align: center, $direction: row);
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-color: #9f9f9f;
      background-blend-mode: multiply;
      background-size: cover;
      background-image: linear-gradient(360deg,
          rgba(18, 123, 0, 0.713) 0%,
          rgba(0, 255, 51, 0.397) 100%),
        linear-gradient(136.33deg, #0763aeb6 20%, rgb(6, 84, 33) 96.25%),
        $bg-imageWoman; //Bör flyttas, syns i bakgrunden för views beroende på height.

      .galleryButtons {
        width: 50%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 55rem;

        input[type="radio"] {
          -webkit-appearance: none;
          appearance: none;
          background-color: $lightBlue;
          margin: 0;
          font: inherit;
          color: currentColor;
          width: 1.15em;
          height: 1.15em;
          border: 0.15em solid currentColor;
          border-radius: 50%;
          transform: translateY(-0.075em);
          display: grid;
          place-content: center;
        }

        input[type="radio"]::before {
          content: "";
          width: 0.65em;
          height: 0.65em;
          border-radius: 50%;
          transform: scale(0);
          box-shadow: inset 1em 1em $lightBlue;
        }

        input[type="radio"]:checked::before {
          transform: scale(2);
        }

        .gallery-btn {
          border: 2px solid $lightBlue;
          padding: 5px;
          border-radius: $borderRadius;
          cursor: pointer;

          &:hover {
            background-color: $lightBlue;
          }
        }
      }
    }
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}