.App {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas:
    "header header header"
    ". main ."
    "footer footer footer";

  main {
    grid-area: main;
  }

  .header {
    grid-area: header;
  }

  .footer {
    grid-area: footer;
  }
}
