@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap');

:root {
  color: $primaryTextColor;
}

$baseFontSize: 16px;

@mixin render {
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

@mixin robotoLarge {
  font-family: 'Roboto';
  font-size: $baseFontSize * 2;
  line-height: 140%;
  font-weight: 500;
  @include render;
}

@mixin robotoMedium {
  font-family: 'Roboto';
  font-size: $baseFontSize * 1.25;
  line-height: 140%;
  font-weight: 500;
  @include render;
}

@mixin robotoNormal {
  font-family: 'Roboto';
  font-size: $baseFontSize;
  line-height: 140%;
  font-weight: 400;
  @include render;
}

@mixin ibmLargeBold {
  font-family: 'IBM Plex Sans';
  font-size: $baseFontSize * 2;
  line-height: 100%;
  letter-spacing: 1px;
  font-weight: 700;
  @include render;
}

@mixin ibmLarge {
  font-family: 'IBM Plex Sans';
  font-size: $baseFontSize * 2;
  line-height: 100%;
  letter-spacing: 1px;
  font-weight: 500;
  @include render;
}

@mixin ibmMedium {
  font-family: 'IBM Plex Sans';
  font-size: $baseFontSize * 1.5;
  line-height: 100%;
  letter-spacing: 1px;
  font-weight: 700;
  @include render;
}

@mixin ibmMediumSemiBold {
  font-family: 'IBM Plex Sans';
  font-size: $baseFontSize * 1.5;
  line-height: 100%;
  letter-spacing: 1px;
  font-weight: 500;
  @include render;
}

@mixin ibmNormalBold {
  font-family: 'IBM Plex Sans';
  font-size: $baseFontSize;
  line-height: 100%;
  letter-spacing: 1px;
  font-weight: 700;
  @include render;
}

@mixin ibmNormal {
  font-family: 'IBM Plex Sans';
  font-size: $baseFontSize;
  line-height: 100%;
  letter-spacing: 1px;
  font-weight: 500;
  @include render;
}
