

$dark: #1D2025;
$light: #dddddd;

$lightGreen: #86E062;
$darkGreen: #27860B;
$lightBlue: #418BC2;
$darkBlue: #074481;

$gradient: linear-gradient(360deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(137.33deg, #2573B5 0%, rgba(37, 115, 181, 0) 96.25%), #25B567;
$gradientLight: linear-gradient(360deg, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(137.33deg, #064F4F 0%, rgba(37, 115, 181, 0) 96.25%), #9A9A9A;
