@import "variables";
@import "layout";
@import "typography";

$bg-image: url("../assets/photos/manComputer.webp");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 10px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: rgb(74, 74, 74);
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: rgb(74, 74, 74);
  border-radius: 10px;
  transition-duration: 200ms;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #787878;
}

.App {
  overflow-wrap: break-word;
  hyphenate-character: "-";
  @include maxSize;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $gray;
  background-blend-mode: multiply;
  background-size: cover;
  background-image: linear-gradient(
      360deg,
      rgba(18, 123, 0, 0.713) 0%,
      rgba(0, 255, 51, 0.397) 100%
    ),
    linear-gradient(136.33deg, #0763aeb6 20%, rgb(6, 84, 33) 96.25%), $bg-image; //Bör flyttas, syns i bakgrunden för views beroende på height.
}

@mixin formButton {
  @include flex;
  margin: $margin;
  z-index: 3;
  border-radius: $borderRadius;
  padding: $padding $padding-large;
  border: 1px solid $light;
  box-shadow: 0 0.5rem 2rem 0 $dark;
  background: $darkTransparent;
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);
  transition: transform-scale(1.1) 0.5s ease-in-out 100ms;
  cursor: pointer;

  font-size: calc($baseline * 1.6);
  font-weight: 523;
  font-family: "Maven Pro";
  font-style: normal;
  line-height: 110%;
  letter-spacing: 0.04em;
  color: $primaryTextColor;

  &:hover {
    transform: scale(1.1);
    border-color: $lightBlue;
  }
}

@mixin hexagonButton {
  position: absolute;
  top: calc(50% - 15px);
  background-color: rgb(79, 77, 77);
  width: 26px;
  height: 15px;
  margin: 0.5rem;

  &::before {
    content: "";
    position: absolute;
    top: -7px;
    left: 0;
    border-bottom: 7.5px solid rgb(79, 77, 77);
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0;
    border-top: 7.5px solid rgb(79, 77, 77);
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
  }

  &:hover {
    background-color: rgb(139, 131, 131);
    cursor: pointer;

    &::before {
      border-bottom: 7.5px solid rgb(139, 131, 131);
      cursor: pointer;
    }

    &::after {
      border-top: 7.5px solid rgb(139, 131, 131);
      cursor: pointer;
    }
  }
}
