@import "./_variables.scss";
@import "./_layout.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@523&display=swap");
$bg-image: url("../assets/photos/manComputer.png");


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  overflow-wrap: break-word;
  hyphenate-character: '-';
  @include maxSize;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #9f9f9f;
  background-blend-mode: multiply;
  background-size: cover;
  background-image: linear-gradient(
      360deg,
      rgba(18, 123, 0, 0.713) 0%,
      rgba(0, 255, 51, 0.397) 100%
    ),
    linear-gradient(136.33deg, #0763aeb6 20%, rgb(6, 84, 33) 96.25%), $bg-image; //Bör flyttas, syns i bakgrunden för views beroende på height.
}

h1, h2, h3, a {
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 523;
  line-height: 100%;
  letter-spacing: 0.04em;
  color: $light;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 27px;
}

// (ingress) unsure if this should be here or somewhere else
.introText {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 190%;
  color: $light;
}

p, a {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: $light;
}

.formButton {
  padding: 0.5rem 1.5rem;
  border-radius: 3rem;
  border: .1rem solid $light;
  background: $gradient;
  cursor: pointer;

  /* .introText */
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 500;
  //font-size: 18px;
  line-height: 190%;
  color: $light;
}


@media (min-width: $breakpointDesktop) {
  
}
