@import "variables";
@import "layout";
@import "typography";

$bg-image: url("../assets/photos/manComputer.png");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.App {
  overflow-wrap: break-word;
  hyphenate-character: "-";
  @include maxSize;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $gray;
  background-blend-mode: multiply;
  background-size: cover;
  background-image: linear-gradient(
      360deg,
      rgba(18, 123, 0, 0.713) 0%,
      rgba(0, 255, 51, 0.397) 100%
    ),
    linear-gradient(136.33deg, #0763aeb6 20%, rgb(6, 84, 33) 96.25%), $bg-image; //Bör flyttas, syns i bakgrunden för views beroende på height.
}

.formButton {
  padding: $padding-sml $padding-large;
  border-radius: 2px;
  border: 0.1rem solid $light;
  background: $gradient;
  cursor: pointer;
  color: $light;
}
