@import '../../scss/variables.scss';

.gradientImageWrapper {
    position: relative;
    width: 500px;
    height: 500px;
    margin: 1rem auto;
    
    .gradient {
        position: absolute;
        width: inherit;
        height: inherit;
        left: 0;
        top: 0;
        background: $gradient;
        mix-blend-mode: multiply;
        border-radius: .5rem;
    }
    .image {
        width: inherit;
        height: inherit;
        filter: grayscale(1);
        border-radius: .5rem;
        object-fit: cover;
    }
}