@import "../../scss/variables.scss";
@import "../../scss/layout.scss";

.gradientImageWrapper {
  @include flex();
  position: relative;
  width: 80%;
  margin: $margin-large auto;
  border-radius: $borderRadius;
  overflow: hidden;

  .gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    background: $gradient;
    mix-blend-mode: multiply;
  }

  .image {
    width: 100%;
    max-height: 300px;
    filter: grayscale(1);
    object-fit: cover;
    object-position: top;
  }
}

// Might need to be changed later for the desktop view
@media screen and (min-width: $breakpointDesktop) {
  .gradientImageWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 0 $borderRadius $borderRadius 0;

    .image {
      border-radius: 0;
      width: 100%;
      max-height: none;
    }

    .gradient {
      border-radius: 0;
    }
  }
}
