@import url("../../scss/_variables.scss");
@import "../../scss/layout.scss";
$bg-images: url("../../assets/photos/personas/*.webp");

.personasView-container {
  @include lines;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $dark;

  .personasView {
    @include lines;
    width: 100%;
    height: 400%;
    background-color: $dark;

    .cont {
      padding: 2.5rem;

      .el {
        padding: $padding;
        border: 1px solid gray;
        border-bottom: none;

        .el__preview-cont {
          width: 100%;
          display: flex;

          .el__heading {
            margin: calc($margin-small / 2);
          }

          .el el__bg {
            display: none;
          }

          .arrow-img {
            width: 3rem;
            cursor: pointer;
          }
        }
      }

      .el:last-child {
        border-bottom: 1px solid gray;
      }
    }

    .personas-main {
      display: flex;
      flex-direction: column;

      text-align: center;
      margin: $margin-large;
      content-visibility: auto;
      contain-intrinsic-size: 1px 5000px;

      .personas-card {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        text-align: center;
        gap: 2.5rem;

        margin-bottom: $margin-large;
        border: 2px solid rgba(255, 255, 255, 0);

        .personas-card-header {
          display: flex;
          width: 100%;
          height: 10%;
          margin-top: $margin;
          flex-direction: column;
          justify-content: center;
          text-align: center;
        }

        .personas-card-title {
          color: $light;
          font-size: calc($baseline * 1.5);
          text-align: center;
        }

        .personas-card-text {
          color: $light;
          font-size: calc($baseline * 1.2);
          text-align: left;
          margin: $margin-small;
        }
      }
    }
  }
}

@media screen and (min-width: 820px) {
  .personasView-container {
    @include lines;
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: $dark;
    margin-top: 0;
    justify-content: flex-start;
    flex-direction: column;

    .personasView {
      @include lines;
      width: 100%;
      height: 400%;
      background-color: $dark;

      .cont {
        position: relative;
        overflow: hidden;
        height: 100vh;
        padding: $vertPad $sidePad;

        .el {
          border: none;

          .el__preview-cont {
            width: 100%;

            justify-content: center;

            .el__heading {
              margin: calc($margin-small / 2);
            }
          }
        }

        .el:last-child {
          border: none;
        }

        &__inner {
          position: relative;
          height: 100%;
          display: flex;
        }
      }

      .el {
        $elW: calc(calc(100% - $elMrg * ($numOfEls - 1)) / $numOfEls);
        $elMrgRel: calc(percentage(calc($elMrg / $elW)));
        position: absolute;
        left: 0;
        top: 0;
        width: $elW;
        height: 100%;
        transition: transform $moveAT $expandAT, width $expandAT,
          opacity $moveAT $expandAT, z-index 0s $moveAT + $expandAT;
        will-change: transform, width, opacity;

        &:not(.s--active) {
          cursor: pointer;
          &:hover {
            .el__bg {
              &:before {
                transform: translate3d(0, 2%, 0) scale(1.1);
              }
            }
          }
        }

        &__overflow {
          overflow: hidden;
          position: relative;
          height: 100%;
        }

        &__inner {
          overflow: hidden;
          position: relative;
          display: flex;
          height: 100%;
          transition: transform $initAT;

          @include contInactive {
            transform: translate3d(0, 100%, 0);
          }
        }

        &__bg {
          position: relative;
          width: calc(100vw - #{$sidePad * 2 + 2px});
          height: 100%;

          transition: transform $moveAT $expandAT;
          will-change: transform;

          &:before {
            content: "";
            position: absolute;
            left: 0;
            top: -5%;
            width: 100%;
            height: 225%;

            transition: transform $initAT;
            transform: translate3d(0, 0, 0) scale(1);

            @include contInactive {
              transform: translate3d(0, -100%, 0) scale(1.2);
            }

            @include elActive {
              transition: transform $bgScaleAT;
            }
          }

          &:after {
            $opacityAT: 0.5s;
            content: "";
            z-index: 5;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 1;
            transition: opacity $opacityAT;

            @include contElActive {
              transition: opacity $opacityAT $fullExpandAT;
              opacity: 0 !important;
            }
          }
        }

        &__preview-cont {
          z-index: 5;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          transition: all 0.3s $fullInitAT - 0.2s;

          .arrow-img {
            display: none;
          }

          @include contInactive {
            opacity: 0;

            transform: translateY(10px);
          }

          @include contElActive {
            opacity: 1;
            transform: translateY(30px);
            transition: all 0.5s;
          }
        }

        &__heading {
          color: #ededed;
          text-transform: uppercase;
          font-size: 18px;
          letter-spacing: 0.15em;
        }

        &__content {
          z-index: 5;
          display: flex;

          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;

          @include elActive {
            z-index: 6;
            opacity: 1;
            pointer-events: auto;
            transition: all $contentFadeinAT $fullExpandAT;
          }
        }

        &__text {
          text-transform: uppercase;
          font-size: 40px;
          color: #fff;
        }

        &__index {
          overflow: hidden;
          position: absolute;
          left: 0;
          bottom: $vertPad * -1;
          width: 100%;
          height: 100%;
          min-height: 250px;
          text-align: center;
          font-size: calc(100vw / $numOfEls);
          line-height: 0.85;
          font-weight: bold;
          transition: transform $indexHoverAT,
            opacity calc($moveAT/2) $expandAT + $expandDelay + $moveAT;
          transform: translate3d(0, 1vw, 0);
        }

        @for $i from 0 to $numOfEls {
          &:nth-child(#{$i + 1}) {
            $x: (100% + $elMrgRel) * $i;
            transform: translate3d($x, 0, 0);
            transform-origin: $x + 50% 50%;

            @include contElActive {
              &:not(.s--active) {
                transform: scale(0.5) translate3d($x, 0, 0);
                opacity: 0;
                transition: transform $fadeoutAT, opacity $fadeoutAT;
              }
            }

            .el__inner {
              transition-delay: $initDelayStep * $i;

              .el__bg {
                &:before {
                  transition-delay: 0.1s * $i;
                  z-index: 2;
                  background-position: center;
                  background-repeat: no-repeat;
                  background-color: #ffffff;
                  background-blend-mode: multiply;
                  background-size: cover;
                  background-image: linear-gradient(
                      360deg,
                      rgba(7, 48, 0, 0.713) 0%,
                      rgba(0, 255, 51, 0.397) 100%
                    ),
                    linear-gradient(
                      136.33deg,
                      #003159 20%,
                      rgb(6, 84, 33) 96.25%
                    ),
                    url("../../assets/photos/personas/Persona#{$i + 1}.webp");
                }
              }

              .lighter-background {
                &:before {
                  transition-delay: 0.1s * $i;
                  z-index: 2;
                  background-position: center;
                  background-repeat: no-repeat;
                  background-color: #ffffff;
                  background-blend-mode: multiply;
                  background-size: cover;
                  background-image: linear-gradient(
                      360deg,
                      rgba(18, 123, 0, 0.713) 0%,
                      rgba(0, 255, 51, 0.397) 100%
                    ),
                    linear-gradient(
                      136.33deg,
                      rgba(7, 99, 174, 0.7137254902) 20%,
                      rgb(6, 84, 33) 96.25%
                    ),
                    url("../../assets/photos/personas/Persona#{$i + 1}.webp");
                }
              }

              .scroll {
                overflow-y: scroll;
              }

              .el__content {
                z-index: 6;
                display: flex;

                justify-content: center;
                min-height: 80vh;

                .el__close-btn {
                  transition-delay: $initDelayStep * $i;
                  z-index: 8;
                  position: fixed;
                  right: 70px;
                  top: 45px;
                  width: 40px;
                  height: 40px;
                  transition: all 0s $closeBtnAT + $closeBtnLineDelay;
                  cursor: pointer;
                  background: none;
                  outline: none;
                  border: none;

                  &:before,
                  &:after {
                    content: "";
                    z-index: 8;
                    position: absolute;
                    left: 0%;
                    top: 50%;
                    width: 100%;
                    height: 4px;

                    background: white;

                    opacity: 1;
                  }

                  &:before {
                    transform: rotate(45deg) translateX(2%);

                    @include elActive {
                      transition: all $closeBtnAT $fullExpandAT
                        cubic-bezier(0.72, 0.09, 0.32, 1.57);
                      transform: rotate(45deg) translateX(0);
                    }
                  }

                  &:after {
                    transform: rotate(-45deg) translateX(0%);

                    @include elActive {
                      transition: all $closeBtnAT $fullExpandAT +
                        $closeBtnLineDelay cubic-bezier(0.72, 0.09, 0.32, 1.57);
                      transform: rotate(-45deg) translateX(0);
                    }
                  }
                }

                .scroll {
                  overflow-y: scroll;
                  max-height: 60vh;
                }

                .personas-main {
                  width: 70%;
                  position: absolute;
                  display: flex;
                  flex-direction: column;
                  height: min-content;

                  text-align: center;
                  margin: $margin-large;
                  z-index: 6;
                  content-visibility: auto;
                  contain-intrinsic-size: 1px 5000px;

                  .personas-card-text-container {
                    text-align: left;
                    margin-top: $margin-large;

                    h2 {
                      color: $light;
                      font-size: calc($baseline * 1.3);
                      text-align: left;
                      margin: 0 $margin-small 0 $margin-small;
                      font-weight: 600;
                    }

                    .ingress {
                      color: $light;
                      font-size: calc($baseline * 1.2);
                      margin-bottom: calc($margin-large * 2);
                    }
                  }

                  .personas-card {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;

                    text-align: center;
                    gap: 2.5rem;
                    margin-bottom: $margin-large;
                    border: 2px solid rgba(255, 255, 255, 0);

                    .personas-card-header {
                      margin-top: $margin;
                      width: 100%;
                      height: 100%;
                      display: flex;
                      flex-direction: column;
                      justify-content: center;

                      text-align: center;

                      .personas-card-text {
                        color: $light;
                        font-size: calc($baseline * 1.2);
                        text-align: left;
                      }
                    }

                    .personas-card-title {
                      color: $light;
                      font-size: calc($baseline * 1.5);
                      text-align: center;
                    }

                    .card-text-container {
                      width: 100%;
                      height: 100%;
                      display: flex;
                      flex-direction: column;
                      justify-content: center;
                      flex: 1;
                      text-align: center;

                      .personas-card-text {
                        width: 100%;
                        color: $light;
                        font-size: calc($baseline * 1.2);
                        text-align: left;
                        margin-bottom: calc($margin-large * 2);
                      }
                    }
                  }
                }
              }

              .el__content::-webkit-scrollbar {
                width: 10px;
              }

              /* Track */
              .el__content::-webkit-scrollbar-track {
                background: $scrollTrack;
                border-radius: 10px;
              }

              /* Handle */
              .el__content::-webkit-scrollbar-thumb {
                background: $scrollThumb;
                border-radius: 10px;
                transition-duration: 100ms;
              }

              /* Handle on hover */
              .el__content::-webkit-scrollbar-thumb:hover {
                background: $scrollHover;
              }
            }
          }
        }

        &.s--active {
          z-index: 3;
          width: 100%;
          transform: translate3d(0, 0, 0);
          transition: transform $moveAT, width $expandAT $moveAT + $expandDelay,
            z-index 0s;

          .el__bg {
            transform: translate3d(0, 0, 0);
            transition: transform $moveAT;

            &:before {
              transition-delay: $moveAT;
              transform: scale(1);
            }
          }
        }
      }
    }
  }
}
