@import "../../scss/variables.scss";
@import "../../scss/layout.scss";

.form_wrapper::before {
    content: "";
    position: absolute;
    width: calc(100% - 3.2rem);
    height: 100%;
    top: 0;
    left: 1.5rem;
    border-left: .1rem solid rgb(255, 255, 255, .1);
    border-right: .1rem solid rgb(255, 255, 255, .1);
}

.form_wrapper::after {
    content: "";
    position: absolute;
    width: 100%;
    height: calc(100% - 3.2rem);
    top: 1.5rem;
    left: 0;
    border-top: 0.1rem solid rgb(255, 255, 255, 0.1);
    border-bottom: 0.1rem solid rgb(255, 255, 255, 0.1);
}

.form_wrapper {
    min-height: 100%;
    position: relative;
    background-color: $dark;
    padding: 1.5rem;

    .form_content {
        position: relative;
        height: 100%;
        background-color: $dark;
        border-left: 0.1rem solid rgb(255, 255, 255, 0.1);
        border-right: 0.1rem solid rgb(255, 255, 255, 0.1);

        .top_section {
            @include flex($justify: center);
            max-height: 25%;
            margin-top: 3rem;
        }
    }

    .quiz_section {
        position: relative;
        height: 100%;
        z-index: 1;

        .form_question {
            @include flex();
            margin-top: 1.5rem;
            width: 100%;

            p {
                width: 75%;
            }
        }

        .quiz_nav {
            @include flex($justify: space-evenly, $direction: row);
            margin-top: 2rem;
            padding-bottom: 1rem;

            img {
                cursor: pointer;

            }
        }
    }
}

@media screen and (min-width: 768px) {
    .desktop_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        height: 100%;
        background-color: #3D3D3D;
    }

    .form_wrapper {
        @include flex($align: center);
        width: 80%;
        border-radius: 8px;
        padding: 0;
        min-height: 0%;

        .form_content {
            @include flex($direction: row-reverse);
            width: 100%;
            max-height: 433px;
            border: none;
            border-radius: 8px;

            .top_section {
                width: 50%;
                margin: auto;
            }

            .top_section::before {
                content: '';
                position: absolute;
                z-index: 1;
                width: calc(100% - 3.2rem);
                height: 100%;
                top: 0;
                left: 1.5rem;
                border-left: .1rem solid rgb(255, 255, 255, .1);
                border-right: .1rem solid rgb(255, 255, 255, .1);
            }

            .top_section::after {
                content: '';
                position: absolute;
                z-index: 1;
                width: 100%;
                height: calc(100% - 3.2rem);
                top: 1.5rem;
                left: 0;
                border-top: .1rem solid rgb(255, 255, 255, .1);
                border-bottom: .1rem solid rgb(255, 255, 255, .1);
            }

            .quiz_section {
                width: 50%;
                margin: auto;
            }

            .quiz_nav {
                @include flex($justify: space-evenly, $direction: row);
                margin-top: 2rem;
                padding-bottom: 1rem;

                img {
                    cursor: pointer;
                }
            }
        }
    }
}