@import "../../scss/variables.scss";
@import "../../scss/layout.scss";

.form_wrapper {
  @include lines;
  position: relative;
  background-color: $dark;
  min-height: 100vh;
  //padding: 1.5rem; behövs ej?

  .card_content {
    background-color: $dark;

    .image_section {
      height: 100%;
      padding-top: 0.5rem;
      z-index: 0;
    }
  }
}

@media screen and (min-width: $breakpointDesktop) {
  .desktop_wrapper {
    @include flex;
    @include maxSize;
    background: $gradientGray;
  }

  .form_wrapper {
    @include flex;
    @include lines($z-index: -10);
    width: 100%;
    height: 100vh;
    border-radius: $borderRadius;
    padding: 0;
    background-color: transparent;
    justify-content: center;
    flex-direction: column;

    .card_content {
      @include lines;
      @include flex($direction: row-reverse);
      box-shadow: $shadow; // ändra till mindre box-shadow? ser ej bra ut
      width: 95%;
      height: 85%;
      border: none;
      border-radius: $borderRadius;

      .persona-card-content {
        //@include lines; //ta bort lines här?
        @include flex($direction: row-reverse);

        width: 100%;
        height: 100%;
        border: none;
        border-radius: $borderRadius;
      }

      .image_section {
        height: 100%;
        width: 50%;
        margin: auto;
        padding: 0;

        .gradientImageWrapper,
        .image {
          min-height: none;
        }
      }
    }
  }
}

@media screen and (min-width: 1100px) {
  .desktop_wrapper {
    @include flex;
    @include maxSize;
    background: $gradientGray;
  }

  .form_wrapper {
    @include flex;
    @include lines($z-index: -10);
    width: 100%;
    height: 100vh;
    border-radius: $borderRadius;
    padding: 0;
    background-color: transparent;

    .card_content {
      @include lines($z-index: 1); //TODO enbart 1 funkar, 3 går över imageComponent men täcker knappar
      @include flex($direction: row-reverse);
      box-shadow: $shadow; // ändra till mindre box-shadow? ser ej bra ut

      width: 80%;
      height: 70%;

      border: none;
      border-radius: $borderRadius;

      .persona-card-content {
        @include flex($direction: row-reverse);

        width: 100%;
        height: 100%;
        border: none;
        border-radius: $borderRadius;
      }

      .image_section {
        height: 100%;
        width: 50%;
        margin: auto;
        padding: 0;

        .gradientImageWrapper,
        .image {
          min-height: none;
        }
      }
    }
  }
}