@import '../../scss/variables.scss';
@import '../../scss/layout.scss';


.form_wrapper::before {
    content: '';
    position: absolute;
    width: calc(100% - 3.2rem);
    height: 100%;
    top: 0;
    left: 1.5rem;
    border-left: .1rem solid rgb(255, 255, 255, .1);
    border-right: .1rem solid rgb(255, 255, 255, .1);
}

.form_wrapper::after {
    content: '';
    position: absolute;
    width: 100%;
    height: calc(100% - 3.2rem);
    top: 1.5rem;
    left: 0;
    border-top: .1rem solid rgb(255, 255, 255, .1);
    border-bottom: .1rem solid rgb(255, 255, 255, .1);

}


.form_wrapper {
    min-height: 100%;
    position: relative;
    background-color: $dark;
    padding: 1.5rem;

    .form_content {
        position: relative;
        height: 100%;
        background-color: $dark;
        border-left: .1rem solid rgb(255, 255, 255, .1);
        border-right: .1rem solid rgb(255, 255, 255, .1);

        .top_section {

            height: 100%;

            .form_nav {
                display: flex;
                width: 100%;
                height: 2rem;
    
                .temp_menu {
                    width: 2rem;
                    margin: .5rem 0 0 12.5%;
                }
    
            }

            .form_image {
                @include flex();
                position: relative;
                margin-top: .5rem;
                width: 100%;
                background-blend-mode: multiply;
                background-size: cover;
    
                img {
                    width: 75%;
                    border-radius: 8px;
                }
    
                .gradient_overlay {
                    position: absolute;
                    width: 75%;
                    height: 100%;
                    border-radius: 8px;
                    background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(137.33deg, #2573B5 0%, rgba(37, 115, 181, 0) 96.25%);
                }
    
            }
        }


        .quiz_section {
            position: relative;
            height: 100%;

            .form_question {
                @include flex();
                margin-top: 1.5rem;
                width: 100%;

                p {
                    width: 75%;
                }

            }

            .radio_quiz {

                @include flex($justify: flex-start);
                background-color: rgb(255, 255, 255, .03);
                margin-top: .5rem;
                margin-left: 12.5%;
                width: 75%;
                border-radius: 4px;
                cursor: pointer;

                img {
                    width: 2.5rem;
                }

                p {
                    width: calc(100% - 80px);
                    text-align: center;
                }

                &:hover {
                    background-color: rgb(255, 255, 255, .16);
                }

            }

            .quiz_nav {
                @include flex($justify: space-evenly, $direction: row);
                margin-top: 2rem;
                padding-bottom: 1rem;

                img {
                    cursor: pointer;
                }
            }

        }
    }

}