@import '../../scss/variables.scss';
@import '../../scss/layout.scss';
@import '../../scss/global.scss';

.quiz_section {
    position: relative;
    height: 100%;


    .form_question {
        @include flex();
        margin-top: $margin-large;
        width: 100%;

        h2 {
            height: 100%;
            width: 85%;
            font-size: 1.6rem;
            margin: 0;
        }
    }

    .quiz_nav {
        @include flex($justify: space-evenly, $direction: row);
        margin: 0;
        padding-bottom: $padding;

        .transparent_true {
            opacity: 20%;
            cursor: default;
        }

        .transparent_false {
            opacity: 100%;
            cursor: pointer;
        }

        .hidden_true {
            opacity: 0%;
            cursor: default;
        }

        .hidden_false {
            opacity: 100%;
            cursor: pointer;
        }
    }
}

.radio_component {

    @include flex($justify: flex-start);
    margin: $margin-sml auto;
    position: relative;
    width: 85%;
    min-height: 5rem;
    background-color: rgb(255, 255, 255, .03);
    border-radius: $borderRadius;
    cursor: pointer;
    user-select: none;

    p {
        margin: 0px 5px 0px 15px;
        //width: calc(100% - ($baseline*5));
        text-align: start;
        user-select: text;
    }

    input[type="radio"] {

        opacity: 0;
        appearance: none;
        @include hexagonButton;

    }

    &:hover {
        background-color: rgb(255, 255, 255, .16);

    }

    &:has(input[type="radio"]:checked) {
        background-color: rgb(255, 255, 255, .16);
    }
}

@media screen and (min-width: $breakpointDesktop) {

    .quiz_section {
        width: 50%;
        @include flex($direction: column, $justify: space-between, $align: normal);
        height: 100%;
        margin: auto;

        .form_question {
            h2 {
                padding: 1rem;
                margin: $margin-large 0 0 0;
            }
        }
    }


    .radio_wrapper {
        position: relative;
        max-height: 30rem;
        //finslip här

        .radio_component>p {
            font-size: 1rem;
            line-height: 130%;
            width: 90%;
            margin: 0px 5px 0px 50px;
            //media query höjd
            //fix här
        }

        .radio_component {
            input[type="radio"] {
        
                opacity: 1;
                appearance: none;
                @include hexagonButton;
        
            }

            input[type="radio"]:checked {

                background-color: rgb(90, 90, 182);
        
                &::before {
                    border-bottom: 7.5px solid rgb(90, 90, 182);
                }
        
                &::after {
                    border-top: 7.5px solid rgb(90, 90, 182);
                }
        
            }
        }
    }

    .quiz_nav {
        //@include flex($justify: space-evenly);
        margin-top: $margin-large;
        padding-bottom: $padding;

        img {
            cursor: pointer;
        }
    }
}

@media screen and (min-width: 1100px) {

    .quiz_section {
        width: 50%;
        @include flex($direction: column, $justify: space-between, $align: normal);
        height: 100%;
        margin: auto;
    }

    .radio_wrapper {
        position: relative;
        max-height: 30rem;
        //finslip här

        .radio_component>p {
            font-size: 1rem;
            line-height: 150%;
            //media query höjd
            //fix här
        }

        .radio_component {
            input[type="radio"] {
        
                opacity: 1;
                appearance: none;
                @include hexagonButton;
        
            }

            input[type="radio"]:checked {

                background-color: rgb(90, 90, 182);
        
                &::before {
                    border-bottom: 7.5px solid rgb(90, 90, 182);
                }
        
                &::after {
                    border-top: 7.5px solid rgb(90, 90, 182);
                }
        
            }

        }
    }

    .quiz_nav {
        //@include flex($justify: space-evenly);
        margin-top: $margin-large;
        padding-bottom: $padding;

        img {
            cursor: pointer;
        }
    }
}