@import '../../scss/variables.scss';
@import '../../scss/layout.scss';
@import '../../scss/global.scss';


.quiz_section {
    @include flex($direction: column, $align: space-between);
    position: relative;
    height: 100%;

    .radio_wrapper {
        .radio_component.margin {
            margin-bottom: $margin-large*3;
        }
    }

    .form_question {
        @include flex();
        width: 100%;
        margin-bottom: $margin-small;

        h3 {
            height: 100%;
            width: 85%;
            margin: 0;
            font-size: 1.4rem;
        }
    }

    .nav_container {
        @include flex($justify: center);
        position: fixed;
        bottom: 0;
        width: 100%;
        margin: 5rem 0 1.2rem 0;

        .quiz_nav {
            @include flex($justify: space-between, $direction: row, $align: center);
            margin: 0;
            background-color: rgb(29, 32, 37, 90%);
            height: 3rem;
            width: 85%;

            p {
                padding: 0;
            }

            img {
                width: 3rem;
            }

            .transparent_true {
                opacity: 20%;
                cursor: default;
            }

            .transparent_false {
                opacity: 100%;
                cursor: pointer;
            }

            .hidden_true {
                opacity: 0%;
                cursor: default;
            }

            .hidden_false {
                opacity: 100%;
                cursor: pointer;
            }
        }
    }
}


.radio_component {
    @include flex($justify: flex-start);
    margin: $margin-small auto;
    position: relative;
    width: 85%;
    min-height: 5rem;
    background-color: rgb(255, 255, 255, .03);
    border-radius: $borderRadius;
    cursor: pointer;
    user-select: none;

    p {
        margin: 0px 5px 0px 15px;
        font-size: 0.875rem;
        text-align: start;
        user-select: text;
    }

    input[type="radio"] {
        @include hexagonButton;
        opacity: 0;
        appearance: none;
    }

    &:has(input[type="radio"]:checked) {
        background-color: rgb(255, 255, 255, .16);
    }
}


@media screen and (min-width: $breakpointDesktop) {
    .quiz_section {
        @include flex($direction: column, $justify: space-between, $align: normal);
        width: 50%;
        height: 100%;
        margin: auto;
        overflow-y: auto;
        overflow-x: hidden;

        .radio_wrapper {

            .radio_component.margin {
                margin-bottom: 0;
            }

        }

        .form_question {
            margin-top: calc($margin * 3);
        }

        .nav_container {
            @include flex($justify: center);
            position: sticky;
            bottom: 1.2rem;
            padding-top: 0;
        }

        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-track {
            background: $scrollTrack;
        }

        &::-webkit-scrollbar-thumb {
            background: $scrollThumb;
            border-radius: 10px;
            transition-duration: 200ms;

            &:hover {
                background: $scrollHover;
            }
        }
    }

    .radio_wrapper {
        position: relative;
        max-height: 30rem;

        .radio_component > p {
            font-size: 1rem;
            line-height: 130%;
            width: 90%;
            margin: 0px 5px 0px 50px;
        }

        .radio_component {
            padding: .5rem;
            input[type="radio"] {
                @include hexagonButton;
                opacity: 1;
                appearance: none;
            }

            &:hover {
                background-color: rgb(255, 255, 255, .16);
            }

            input[type="radio"]:checked {
                background-color: $purple;

                &::before {
                    border-bottom: 6px solid $purple;
                }

                &::after {
                    border-top: 6px solid $purple;
                }
            }
        }
    }

    .quiz_nav {
        margin-top: $margin-large;

        img {
            cursor: pointer;
        }
    }
}


@media screen and (min-width: 1100px) {
    .quiz_section {
        @include flex($direction: column, $justify: space-between, $align: normal);
        width: 50%;
        height: 100%;
        margin: auto;
    }

    .radio_wrapper {
        position: relative;
        max-height: 30rem;

        .radio_component>p {
            font-size: 1rem;
            line-height: 150%;
        }

        .radio_component {
            input[type="radio"] {
                @include hexagonButton;
                opacity: 1;
                appearance: none;
            }

            input[type="radio"]:checked {
                background-color: $purple;

                &::before {
                    border-bottom: 6px solid $purple;
                }

                &::after {
                    border-top: 6px solid $purple;
                }
            }
        }
    }

    .quiz_nav {
        margin-top: $margin-large;

        img {
            cursor: pointer;
        }
    }
}